Makefile
Makefile.in
configure
libtool
ltmain.sh
config.guess
config.sub
install-sh
missing
compile
aclocal.m4
config.log
config.status
depcomp
autom4te.cache
.deps
src/*.o
src/*.lo
*.tar.gz
xmppcd.conf.example
config.h
src/xmpp-send
src/xmppcd
*~
stamp-h1
